.Button {
  border: 0;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 14px 24px;
  user-select: none;
  text-decoration: none;
  margin-right: 8px;
  margin-bottom: 8px;

  &:focus {
    outline: none;
  }
}

.Button--large {
  padding: 20px 24px;
}

.Button--white {
  background-color: #fff;
  color: var(--primary-color);

  &:hover {
    background-color: #f7fafc;
  }

  &:active {
    background-color: #fff;
  }
}

.Button--green {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}

.Button--outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
